.container {
  display: flex;
  justify-content: space-between;
  box-shadow: inset var(--box-shadow);
  border-radius: 8px;
  padding: 8px;
  background-color: var(--color-one);
}

@media (min-width: 768px) {
  .container {
    padding: 15px;
  }
}
