.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.74);
  z-index: 999;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 325px;
  background-color: var(--color-one);
  padding: 20px;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgb(0, 0, 0);
  border-radius: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: none;
  margin-top: 15px;
  color: var(--color-white);
  transition: background-color 0.3s ease;
  box-shadow: var(--box-shadow);
  &:hover {
    box-shadow: none;
  }
}

.btnClose {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 4%;
  right: 1%;
  z-index: 1000;
}

.icon {
  color: var(--red-button);
  font-size: 25px;
  &:hover {
    color: var(--red-button-hover);
  }
}

.title {
  color: var(--color-green);
  font-size: 20px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.btnCont {
  display: flex;
}

.btnNo {
  background-color: var(--yellow-button);
  &:hover {
    background-color: var(--yellow-button-hover);
  }
}

.btnYes {
  background-color: var(--red-button);
  &:hover {
    background-color: var(--red-button-hover);
  }
}

@media (min-width: 768px) {
  .btn {
    width: 150px;
  }

  .title {
    font-size: 30px;
  }

  .modal {
    width: 600px;
  }

  .btnClose {
    right: 2%;
  }

  .icon {
    font-size: 30px;
  }
}

@media (min-width: 1280px) {
  .btnClose {
    top: 3%;
  }

  .icon {
    font-size: 40px;
  }
}
