.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  background-color: var(--color-one);
  box-shadow: inset var(--box-shadow);
}

.label {
  display: flex;
  flex-direction: column;
}

.span {
  text-shadow: var(--text-shadow);
}

.input {
  height: 40px;
  width: 250px;
  border-radius: 5px;
  padding-left: 10px;
  border: none;
  background-color: var(--color-two);
  color: var(--color-white);
  transition: outline 0.3s ease;
  box-shadow: var(--box-shadow);
  &:focus,
  &:hover {
    outline: 2px solid var(--color-button-hover);
    box-shadow: none;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: none;
  margin-top: 15px;
  background-color: var(--color-green);
  color: var(--color-white);
  transition: background-color 0.3s ease;
  box-shadow: var(--box-shadow);
  &:hover {
    background-color: var(--color-button-hover);
    box-shadow: none;
  }
}

.error {
  color: red;
  font-size: 15px;
}

.radioCont {
  display: flex;
  gap: 10px;
}

.radioBtn:checked {
  accent-color: #4caf50;
}

.btn {
  position: relative;
  width: 250px;
}

.inputFile {
  display: none;
}

.previewImage {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.btnFileCont {
  position: relative;
  width: 250px;
}

.btnFile {
  position: absolute;
  top: 5px;
  left: 5px;
}

.btnFileIcon {
  font-size: 40px;
  color: var(--color-green);
  transition: color 0.3s ease;
  &:hover {
    color: var(--color-button-hover);
  }
}

@media (min-width: 768px) {
  .input {
    width: 400px;
  }

  .btn {
    width: 150px;
  }

  .previewImage {
    width: 400px;
    height: 400px;
  }

  .btnFileCont {
    width: 400px;
  }

  .btnFileIcon {
    font-size: 60px;
  }
}
