.container {
  width: 30%;
  height: 250px;
  margin-top: 20px;
  border-radius: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e2023;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.title {
  color: #14c57c;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.span {
  color: #14c57c;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.input {
  height: 40px;
  width: 300px;
  border-radius: 5px;
  padding-left: 10px;
  border: none;
  background-color: #2a2d32;
  color: #f0f0f0;
  transition: outline 0.3s ease;
  box-shadow: inset 0px 10px 5px rgba(0, 0, 0, 0.5);
  &:focus,
  &:hover {
    outline: 2px solid #009156;
    box-shadow: none;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: none;
  margin-top: 15px;
  background-color: #14c57c;
  color: #f0f0f0;
  transition: background-color 0.3s ease;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  &:hover {
    background-color: #009156;
    box-shadow: none;
  }
}

.message {
  color: #14c57c;
}
