.container {
  display: flex;
  align-items: center;
  position: relative;
  gap: 5px;
  padding: 5px;
  &:hover .contact {
    color: var(--color-button-hover);
  }
}

.containerPart {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact {
  display: flex;
  flex-direction: column;
  text-shadow: var(--text-shadow);
  transition: color 0.3s ease;
}

.containerItem {
  display: flex;
  align-items: center;
}

.photo {
  width: 100px;
  height: auto;
  border-radius: 10px;
}

.icon {
  margin-right: 10px;
}

.name {
  text-shadow: var(--text-shadow);
}

.btnUpDel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: none;
  border-radius: 10px;
  background-color: transparent;
}

.btnUpdate {
  top: 8px;
  right: 5px;
}

.btnDelete {
  top: 40px;
  right: 5px;
}

.iconUpDel {
  font-size: 25px;
  color: var(--color-white);
  transition: color 0.3s ease;
}

.iconUpdate {
  &:hover {
    color: var(--yellow-button-hover);
  }
}

.iconDelete {
  &:hover {
    color: var(--red-button-hover);
  }
}

.btnFav {
  position: absolute;
  top: 7px;
  left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}

.iconFav {
  color: var(--color-white);
  font-size: 25px;
  transition: color 0.3s ease;
  &:hover {
    color: var(--color-button-hover);
  }
}

.iconFavActive {
  color: var(--color-green);
}

@media (min-width: 768px) {
  .container {
    gap: 30px;
  }

  .contact {
    flex-direction: row;
    gap: 30px;
  }

  .containerPart {
    gap: 15px;
  }

  .btnUpdate {
    top: 16px;
    right: 10px;
  }

  .btnDelete {
    top: 60px;
    right: 10px;
  }

  .iconUpDel {
    font-size: 30px;
  }
}

@media (min-width: 1280px) {
  .contact {
    gap: 140px;
  }
}
